/- @transactions.each do |transaction|
/  .card-container-item
/    = link_to users_transaction_path(transaction) do
/      .card.content-card style="width:auto;"
/        .center
/          = transaction.agency.bank_name +  " - " +transaction.agency.number
/        .divider
/        p Agência: #{transaction.number}
  