.modal{
  border-radius:10px;
  overflow-y: hidden;
  width:auto;
  min-width:300px;
  max-width:400px;
  max-height:90%;
  height:auto;
  overflow:visible;

}
.modal-fields-wrapper{
  .field{
    margin-bottom:0px !important;
  }
}
  