@import "variables";
nav{
  padding-left:230px;
  width:auto;
  background-color:white;
}
.nav-wrapper{
  text-align: right;
  a {
    display: inline;
    text-align: center;
    font-size: 1.5rem;
    color:$primary-color;
  }
  i {
    padding-left:10px;
    position:relative;
    font-size: 0.8rem;
  }
}
.dropdown-content{
  margin-top:64px;
  color:$primary-color;
  li {
    a{
      font-size:1.2rem;
      color:$primary-color;
    }
  }
}
