//Colors
$primary-color:#21252B;
$secondary-color:#C0CFDB;
$terciary-color:#FFF1D1;

$card-background-color:#FFF1D1;

$background-color:#21252B;

$border-color:#414A49;
$input-color:#414A49;
$link-color:#414A49;
$label-color:#21252B;
$form-field-color:white;

$btn-confirm:#0D613F;
$btn-confirm-hover:#084029;

$btn-cancel:#D65601;
$btn-cancel-hover:#A34101;

$error:#B44F4B;
$disabled:#868686;